.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    flex: 0.8;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  #grid> div {
    padding: 30px;
    background-color: #ccc;
  }

  .body{
    margin-top: 30px;
    text-align: center;
  }

  .body>h1{
    color: rgb(79, 139, 79);
    margin-top: 30px;
    font-size: 26px;
  }

  #createMemory{
    margin-top: -10px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(76, 114, 76);
    color: white;
    box-shadow: 3px 3px black;
    margin-bottom: 10px;
}

#createMemory:hover{
  background-color: rgb(108, 161, 108);
}
#createMemory>a{
  color: white;
  text-decoration: none;
}


@media all and (max-width: 500px){
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    flex: 0.8;
    margin-right: 40px;
    margin-bottom: 20px;
  }
}




 